@import "../../styles/variables.scss";

.wrapper {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url("/images/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.image_wrap {
  position: absolute;
  top: 40px;
  left: 40px;
}

.content_wrap {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
}

.title_wrap {
  color: white;
  text-transform: uppercase;

  span {
    display: block;
    font-weight: 400;
  }

  :nth-child(1) {
    font-size: 60px;
    letter-spacing: 35px;
    font-weight: 400;

    // animation: name duration timing-function delay iteration-count direction fill-mode play-state;
    animation: moveInLeft 1s ease-out 3;
  }

  :nth-child(2) {
    font-size: 20px;
    letter-spacing: 17.4px;
    font-weight: 700;

    animation: moveInRight 1s ease-out 3;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
