@import "scss/abstracts/variables";

$wrapper-transparency: 0.8;
.wrapper {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary, $wrapper-transparency),
      rgba($color-primary-dark, $wrapper-transparency)
    ),
    url("/images/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

$image-offset: 4rem;
.image_wrap {
  position: absolute;
  top: $image-offset;
  left: $image-offset;
}
